body {
  background-color: rgba(211, 241, 241, 0.482);
  color:rgb(141, 182, 177);
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}


h2,h3 {
  font-family : "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;

}
h2{
  font-size: 15px;
}
img{
  width: 100px;
  height: auto;
}
a {
  text-decoration: none;
  color: rgb(186, 223, 219);
}
a:hover{
  transition-delay: 0.2s;

  color: rgb(32 142 152);
 }
.card{
  background-color: rgb(255, 255, 255);
  padding: 10px;                             /* Internal space */
  border-radius: 5px;                        /* Small radius */
  margin: 30px;
  border: 0,5px solid rgb(150, 150, 150);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

 }

 .img-circle {
   border-radius: 50%;
  }
  .container {
    width: 500px;   /* Définit la largeur */
    margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
  }
  .fa-laptop-code{
   color: #1b6653;
  }
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}






.hover-underline {
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f2ff00, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 400px;
  }
}
